body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.middle-area {
  display: flex;
}

.side-container {
  width: 20%;
  background-color: blue;
}

.main-container {
  width: 80%;
  background-color: red;
  height: 80vh;
}

footer {
  background-color: dimgray;
  height: 5vh;
}
